Repository googleapis/python-pubsublite, pull requests merged in 2021-08, with the labels that each got.

#204 fix: Backlog never zero despite messages received
  google/cloud/pubsublite/cloudpubsub/internal/ack_set_tracker_impl.py
  tests/unit/pubsublite/cloudpubsub/internal/ack_set_tracker_impl_test.py
Labels: api: pubsublite, cla: yes

#203 fix: Increment ack generation id
  google/cloud/pubsublite/cloudpubsub/internal/single_partition_subscriber.py
  tests/unit/pubsublite/cloudpubsub/internal/single_partition_subscriber_test.py
Labels: api: pubsublite, cla: yes

#176 feat: Support seek subscription in AdminClient
  google/cloud/pubsublite/__init__.py
  google/cloud/pubsublite/admin_client.py
  google/cloud/pubsublite/admin_client_interface.py
  google/cloud/pubsublite/internal/wire/admin_client_impl.py
  google/cloud/pubsublite/types/__init__.py
  google/cloud/pubsublite/types/backlog_location.py
  samples/snippets/quickstart_test.py
  samples/snippets/seek_lite_subscription_example.py
Labels: cla: yes, api: pubsublite

#211 fix: Numerous small performance and correctness issues
  google/cloud/pubsublite/cloudpubsub/internal/client_multiplexer.py
  google/cloud/pubsublite/cloudpubsub/internal/managed_event_loop.py
  google/cloud/pubsublite/cloudpubsub/internal/multiplexed_async_publisher_client.py
  google/cloud/pubsublite/cloudpubsub/internal/multiplexed_async_subscriber_client.py
  google/cloud/pubsublite/cloudpubsub/internal/multiplexed_publisher_client.py
  google/cloud/pubsublite/cloudpubsub/internal/multiplexed_subscriber_client.py
  google/cloud/pubsublite/cloudpubsub/internal/publisher_impl.py
  google/cloud/pubsublite/cloudpubsub/internal/subscriber_impl.py
  google/cloud/pubsublite/internal/wire/committer_impl.py
  google/cloud/pubsublite/internal/wire/serial_batcher.py
  google/cloud/pubsublite/internal/wire/single_partition_publisher.py
  google/cloud/pubsublite/types/paths.py
  testing/constraints-3.6.txt
  tests/unit/pubsublite/cloudpubsub/internal/async_client_multiplexer_test.py
  tests/unit/pubsublite/cloudpubsub/internal/client_multiplexer_test.py
Labels: automerge, cla: yes, api: pubsublite

#213 fix: Add workaround for https://github.com/grpc/grpc/issues/25364
  google/cloud/pubsublite/cloudpubsub/internal/managed_event_loop.py
Labels: cla: yes, api: pubsublite

#215 chore: generate python samples templates in owlbot.py
  owlbot.py
  samples/snippets/noxfile.py
Labels: automerge, cla: yes, samples, api: pubsublite

#226 chore: migrate to main branch
  .github/sync-repo-settings.yaml
  .kokoro/build.sh
  .kokoro/test-samples-impl.sh
  CONTRIBUTING.rst
  owlbot.py
Labels: cla: yes, api: pubsublite
