Repository googleapis/python-pubsublite, pull requests merged in 2021-03, with the labels that each got.

#94 fix: remove absl dependency
  google/cloud/pubsublite/internal/wire/assigner_impl.py
  google/cloud/pubsublite/internal/wire/committer_impl.py
  google/cloud/pubsublite/internal/wire/pubsub_context.py
  google/cloud/pubsublite/internal/wire/single_partition_publisher.py
  setup.py
  testing/constraints-3.6.txt
Labels: api: pubsublite, cla: yes

#97 chore: re-generated to pick up changes from self
  .gitignore
  google/cloud/pubsublite_v1/__init__.py
  noxfile.py
  synth.metadata
  synth.py
Labels: api: pubsublite, cla: yes, context: none

#101 chore: exclude some docs/ files from synth copy
  synth.py
Labels: api: pubsublite, cla: yes

#100 [CHANGE ME] Re-generated to pick up changes from synthtool.
  .flake8
  .github/header-checker-lint.yml
  .gitignore
  .kokoro/build.sh
  .kokoro/docs/docs-presubmit.cfg
  .pre-commit-config.yaml
  .trampolinerc
  CONTRIBUTING.rst
  LICENSE
  MANIFEST.in
  docs/_static/custom.css
  docs/conf.py
  google/cloud/pubsublite_v1/__init__.py
  noxfile.py
  synth.metadata
Labels: api: pubsublite, cla: yes, context: partial
