Repository googleapis/python-pubsublite, pull requests merged in 2022-02, with the labels that each got.

#266 samples: regional topics samples
  samples/snippets/create_lite_topic_example.py
  samples/snippets/delete_lite_topic_example.py
  samples/snippets/get_lite_topic_example.py
  samples/snippets/list_lite_topics_example.py
  samples/snippets/quickstart_test.py
  samples/snippets/seek_lite_subscription_example.py
  samples/snippets/subscriber_example.py
  samples/snippets/update_lite_topic_example.py
Labels: cla: yes, samples, api: pubsublite

#298 samples: add reservation samples
  samples/snippets/create_lite_reservation_example.py
  samples/snippets/delete_lite_reservation_example.py
  samples/snippets/get_lite_reservation_example.py
  samples/snippets/list_lite_reservations_example.py
  samples/snippets/quickstart_test.py
  samples/snippets/update_lite_reservation_example.py
Labels: samples, api: pubsublite

#301 fix: ensure that _failure_task exception is always retrieved
  google/cloud/pubsublite/internal/wire/permanent_failable.py
Labels: api: pubsublite

#300 fix: ensure bytes cannot go negative on requests sent to the server
  google/cloud/pubsublite/internal/wire/flow_control_batcher.py
  tests/unit/pubsublite/internal/wire/flow_control_batcher_test.py
Labels: api: pubsublite
